.envrc
lib/sandbox-django/.venv
__pycache__
db.sqlite3

.idea/
node_modules/
package-lock.json


django_angular_dynamic_forms\.egg-info/

/dist

/angular/test
/build

demo/angular/src/django-angular-dynamic-forms


angular/docs/
angular/lib-dist/


angular/yarn-error\.log
