<ng-container *ngIf="config$">
    <ng-container *ngIf="config$|async; let config">

        <h1 *ngIf="config.form_title">{{ config.form_title }}</h1>

        <django-form-content [layout]="config.layout" [initial_data]="config.initial_data" [errors]="config.errors"
                             (submit)="submitted(undefined, undefined)" #form>
        </django-form-content>

        <div *ngIf="config.actions" fxLayout="row">
            <button
                mat-raised-button
                *ngFor="let button of config.actions"
                [name]="button.id"
                [color]="button.color"
                (click)="submitted(button.id, button.cancel)"
                type="button"
                [disabled]="!form.valid && !button.cancel"
            >{{ button.label }}
            </button>
        </div>

    </ng-container>
</ng-container>
