<ng-container *ngIf="config$">
    <ng-container *ngIf="config$ | async; let config">
        <django-form-content
            [layout]="config.layout"
            [initialData]="config.initialData"
            [errors]="errors$ | async"
            (submit)="submitted(undefined, undefined)"
            (valueChanged)="onModified($event)"
            #form
        >
        </django-form-content>

        <div *ngIf="config.actions" fxLayout="row" class="dadf-buttons">
            <button
                mat-raised-button
                *ngFor="let button of config.actions"
                [name]="button.id"
                [color]="button.color"
                (click)="submitted(button.id, button.cancel)"
                type="button"
                [disabled]="!form.valid && !button.cancel"
            >
                {{ button.label }}
            </button>
        </div>
    </ng-container>
</ng-container>
